.contractDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em 1em 2em 2em;
}

.pageTitle {
  width: 100%;
  text-align: center;
  margin: 0 0 1em 0;
  color: tesGreen;
}

.info {
  width: 100%;
  text-align: left;
  padding: 2em 1em 0 1em;
}

.title,
.talentId,
.categoryId,
.userId,
.address,
.description {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.2em;
  padding: 0.1em 0 1.5em 0.5em;
}

.button {
  width: 100%;
  text-align: center;  
}


.acceptButton {
  width: 48%;
  margin: 0 0.1em 0 0;
  text-align: center;  
}

.rejectButton {
  width: 48%;
  margin: 0 0.1em 0 0;
  text-align: center;
  background-color: grey;
  
}
