@value tesShadow, tesBlack, tesWhite, tesColorful from '../../common/colors.css';

.contractInfo {
  display: flex;
  align-items: center;
  border-radius: 1em;
  margin: 2em 4em 2em 2em;
  padding: 0.2em 0;
  /* background-color: yellow; */
  background: tesWhite;
  box-shadow: 6px 6px 8px 0px;
  /* max-width: 30rem; */
  text-align: left;   
}

.contractInfo:hover {
  transform : scale(1.01);
  cursor: pointer;
}

.info {
  width: 100%;
}

.avartar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;  
}

.title,
.talentId,
.talentItemId,
.talentUserNm,
.userNm {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.title {
  font-size: 1.2rem;
  margin: 0rem 0 1rem 0;
}

.title::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}

.requestDateTime
 {
  text-align: right; 
  font-size: 0.8rem;
  margin: 2em 2.5em 0.3em 0;
}

.badgeStyle {
  text-align: right; 
  margin: 0 2em 0 0;
}
