@value tesGreen, tesLightPink, tesWhite from '../../common/colors.css';

.login {
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: tesWhite;
}

.text {
  margin-top: 1em;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2rem;
}

.item {
  margin-bottom: 0.5em;
}

.button:hover {
  transform : scale(1.01);
}

